# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your Emory ID as a string below

In [207]:
# Write your answer here
print ('2485592')

2485592

<font size = "5" >
This quiz is open book 

- You can use the lecture notes and the internet
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"


**By printing the message, you acknowledge that you will abide by Emory's code of conduct.**

In [208]:
# Write your answer here:
print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [209]:
# Write your answer here
import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Print the list with the unique values that are not numeric in the column "positionText"
- Replace the non-numerica values ("R" and "N") with ```np.nan``` (missing value) in the column "positionText"
- Create a new column "positionNumeric" that converts the modified "positionText" column from string to numeric using ```pd.to_numeric()```

HINT: See the example in Lecture 12

In [210]:
# Write your own code
sprintres = pd.read_csv("data_raw/sprint_results.csv")
nonnumericlist= list(pd.unique(sprintres.query("positionText.str.isnumeric()==False")["positionText"]))
print(nonnumericlist)
replacement = [np.nan]*len(nonnumericlist) 
sprintres["positionText"] = sprintres["positionText"].replace(nonnumericlist,replacement)
sprintres["positionNumeric"] = pd.to_numeric(sprintres["positionText"])

['R', 'N']

<font size = "5">

(b) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" with the following categories

$\qquad$ ``` ["1950-1974","1975-1999","2000-onwards"] ```

- Display the new "year_brackets" variable

$\qquad$ HINT: Use the "pd.cut()" command. See Lecture 12 (check the note in the example!)

In [211]:
# Write your own code
races = pd.read_csv("data_raw/races.csv")
races["year_brackets"] = pd.cut(races["year"], 
                                bins = [1950,1975,2000,np.inf],
                                right=False,
                                labels = ["1950-1974","1975-1999","2000-onwards"])
display(races["year_brackets"])

0       2000-onwards
1       2000-onwards
2       2000-onwards
3       2000-onwards
4       2000-onwards
            ...
1097    2000-onwards
1098    2000-onwards
1099    2000-onwards
1100    2000-onwards
1101    2000-onwards
Name: year_brackets, Length: 1102, dtype: category
Categories (3, object): ['1950-1974' < '1975-1999' < '2000-onwards']

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Subset the observations for 'constructorId == 3' using ```.query()```
- Obtain the sum of "laps" by "driverId" using ``` .groupby().agg() ```
- Subset the drivers with a sum of laps $\ge 40$
- Store the results of all these operations in a dataframe ```sprint_results_agg ```
- Display the ```sprint_results_agg``` dataframe
- Provide a one-sentence explanation of the information in the ```sprint_results_agg ``` table

In [212]:
# Write your own code
sprintres = pd.read_csv("data_raw/sprint_results.csv")
const3 = sprintres.query("constructorId==3")
sumlapbydriver = const3.groupby("driverId").agg(sum_laps = ('laps','sum'))
sprint_results_agg = sumlapbydriver.query("sum_laps>=40")
display(sprint_results_agg) #driver 849 has the highest sum of lap with sum of 127 laps while driver 847 and 848 follow with sum lap od 59 and 56 corrispondingly

          sum_laps
driverId
847             59
848             56
849            127

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Obtain the sum of "laps" by "driverId" using ``` .groupby().agg() ```
- Sort the teams in descending order using of the sum of laps using ``` .sort_values() ```
- Display your results

In [213]:
# Write your own code
sprintres = pd.read_csv("data_raw/sprint_results.csv")
sumoflapsbydriverid=sprintres.groupby("driverId").agg(sum_of_laps=("laps","sum"))
sumoflapsbydriverid.sort_values("sum_of_laps",ascending=False)

          sum_of_laps
driverId
1                 127
832               127
854               127
852               127
849               127
847               127
846               127
844               127
839               127
840               127
830               127
822               127
817               127
815               126
20                125
842               109
4                 104
825                68
841                59
853                59
848                56
855                47
8                  41
9                  18

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Rename the column "points" to "points_sprint"
- Display the dataframe columns

HINT: Create a dictionary and use ```.rename(columns = ...)``` See Lecture 14

In [216]:
# Write your own code
sprintres = pd.read_csv("data_raw/sprint_results.csv")
sprintres = sprintres.rename(columns={'points': 'points_sprint'})
display(sprintres.columns)

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points_sprint', 'laps',
       'time', 'milliseconds', 'fastestLap', 'fastestLapTime', 'statusId'],
      dtype='object')

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/sprint_results.csv" and "data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using "sprint_results" as the primary dataset (left), and "constructors" as the secondary dataset (right), merging on the column "constructorId"
- To get full points **ONLY** merge the "url" column from the secondary dataset (not all the columns)
- Display the resulting dataframe 


HINT: Use ```[[...]]``` to extract a subset of columns from the secondary dataset before merging, including the "constructorId" column

In [217]:
# Write your own code
sprint_result = pd.read_csv("data_raw/sprint_results.csv")
constructors = pd.read_csv("data_raw/constructors.csv")
merged = pd.merge (sprint_result,constructors[["url","constructorId"]],on="constructorId")
display(merged)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId,url
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1,http://en.wikipedia.org/wiki/Red_Bull_Racing
1,20,1061,815,9,11,5,\N,R,20,0,16,\N,\N,6,1:31.465,76,http://en.wikipedia.org/wiki/Red_Bull_Racing
2,22,1065,830,9,33,3,2,2,2,2,18,+2.325,1676403,9,1:23.502,1,http://en.wikipedia.org/wiki/Red_Bull_Racing
3,29,1065,815,9,11,9,9,9,9,0,18,+31.680,1705758,12,1:24.211,1,http://en.wikipedia.org/wiki/Red_Bull_Racing
4,42,1071,830,9,33,1,2,2,2,2,24,+1.170,1750729,9,1:12.114,1,http://en.wikipedia.org/wiki/Red_Bull_Racing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,70,1077,854,210,47,12,10,10,10,0,21,+33.773,1873340,15,1:20.567,1,http://en.wikipedia.org/wiki/Haas_F1_Team
116,87,1084,825,210,20,6,7,7,7,2,23,+34.539,1624598,4,1:09.232,1,http://en.wikipedia.org/wiki/Haas_F1_Team
117,89,1084,854,210,47,7,9,9,9,0,23,+37.163,1627222,4,1:09.457,1,http://en.wikipedia.org/wiki/Haas_F1_Team
118,108,1095,825,210,20,1,8,8,8,1,24,+28.768,1840075,2,1:15.110,1,http://en.wikipedia.org/wiki/Haas_F1_Team
119,112,1095,854,210,47,20,12,12,12,0,24,+41.159,1852466,5,1:15.771,1,http://en.wikipedia.org/wiki/Haas_F1_Team